:root{
  --clock: #BDBDBD;
  --local: #2196F3;
  --local-face-morning: #F5F5F5;
  --local-face-night: #263238;
  --tpe: #F4511E;
  --tpe-face-morning: #E0E0E0;
  --tpe-face-night: #313C42;
}

html{
  background-color: white;
}

.main {
    /* display: flex; */
    color: #9E9E9E;
    padding: 4em;
    justify-content: center;
    align-items: middle;
    font-family: 'fira sans', calibri, sans-serif;
    font-weight: 200;
}

h1 {
  text-align: center;
  margin-bottom: 1.5em;
}

.local-label {
  color: var(--local);
}

.tpe-label{
  color: var(--tpe);
}

.clock-container,
#clock, header {
    width: 100%;
}

.local{
  fill: var(--local);
}

.tpe{
  fill: var(--tpe);
}

.clock{
  fill: var(--clock);
}

.local-face-morning{
  fill: var(--local-face-morning);
}

.local-face-night{
  fill: var(--local-face-night);
}

.tpe-face-morning{
  fill: var(--tpe-face-morning);
}

.tpe-face-night{
  fill: var(--tpe-face-night);
}

.hide{
  fill: none;
}

.sizing-box {
  fill: none;
}

#localHour,
#tpeHour,
#minute {
    transform-origin: 300px 300px;
    /* transition: transform .5s ease-in-out; */
}

@media (max-width: 400px){
  .main{
    padding: 2em;
  }
  h1{
    font-size: 1.25em;
    margin-bottom: 2em;
  }
  #clock{
    height: 20%;
  }
}

@media (min-width: 401px) and (max-width: 800px){
  .main{
    padding: 2em;
  }
  h1{
    font-size: 1.75em;
    margin-bottom: 2em;
  }
  #clock{
    height: 80%;
  }
}
